/* From Uiverse.io by Creatlydev */ 
.livrocard {
    margin: auto;
    width: min(300px, 100%);
    background-color: #fefefe;
    border-radius: 1rem;
    padding: 0.5rem;
    color: #141417;
  }
  .livrocard__icon{
    color: var(--brown);
    padding: 0.7rem;
    border-radius: 1rem;
    background-color: #ffcbe1cb;
  }
  .livrocard__hero {
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1.5rem;
    font-size: 0.875rem;
    background-size: cover; 
    background-position: center; 
    height: 300px;
    filter: grayscale(30%);
  }
  .livrocard__job-title {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    margin: 1rem 0rem 0.5rem;

  }
  .livrocard__hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    & h6{
      padding: 0.7rem;
      border-radius: 1rem;
      background-color: #ffcbe1cb;
    }
  }
  .livrocard__footer {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.75rem;
    row-gap: 1rem;
    font-weight: 700;
    font-size: 0.875rem;
  }
  .livrocard__job{
    display: flex;
    flex-direction: column;
    & p{
      margin-bottom: 0rem;
    }
  }
  @media (min-width: 340px) {
    .livrocard__footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  }
  .livrocard__job-summary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  @media (min-width: 340px) {
    .livrocard__btn {
      width: max-content;
    }
  }
  